<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/styles/style02.css">
</head>
<body>
    <h1>Bem vindo a página home</h1>

    <p>
        Esse espaço é destinado a explicações sobre o funcionamento do sistema e as opções que ele ofereçe.
    </p>

    <h2>Funcionalidades Detalhadas</h2>
    <ul>
        <li><strong>Exibição de Usuários:</strong> O sistema mantém uma lista de 4 usuários fictícios, com os detalhes de cada um (nome, e-mail, telefone).</li>
        <li><strong>API GET:</strong> O endpoint <code>/projeto/getAll</code> retorna todos os usuários cadastrados em formato JSON. Você pode acessar diretamente em <a href="/projeto/getAll" target="_blank">/projeto/getAll</a></li>
    </ul>

    <h2>Tecnologias Usadas</h2>
    <p>Este projeto foi desenvolvido utilizando as seguintes tecnologias:</p>
    <ul>
        <li><strong>Spring Boot:</strong> Para criação da API e lógica de backend.</li>
        <li><strong>Thymeleaf:</strong> Para renderização de páginas HTML dinâmicas.</li>
        <li><strong>CSS:</strong> Para estilização da interface do usuário.</li>
        <li><strong>H2 Database:</strong> Banco de dados relacional leve e em memória, utilizado para armazenar temporariamente os dados dos usuários durante a execução da aplicação.
            O banco pode ser acessado através do console web em <code>/h2-console</code>, facilitando a visualização e manipulação dos dados diretamente pelo navegador.</li>
    </ul>

    <a href="/projeto">Voltar para Início</a>
</body>
</html>