<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
        <link rel="stylesheet" href="/styles/style01.css">
</head>
<body>
    <h1>Projeto de Programação WEB</h1>
    <p id="student"> Aluna: Isadora Carvalho</p>

    <h2>Informações gerais sobre o projeto</h2>
    <p>
        Essa aplicação simples foi desenvolvida com <Strong>Spring Boot</Strong> e tem como objetivo principal exibir
        informações sobre usuários, que incluem nome, email e telefone.
    </p>

    <h2>Funcionalidades</h2>
    <ul>
        <li><strong>Página inicial:</strong> É responsável por apresentar uma visão geral do projeto e suas principais funcionalidades.</li>
        <li><strong>Home:</strong> Detalha o funcionamento do sistema e a navegação pelas páginas.</li>
        <li><strong>API de usuários:</strong> Endpoint do tipo GET, que apresenta uma lista dos usuários em formato JSON.</li>
    </ul>

    <a href="/projeto/home">HOME</a>

</body>
</html>